
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

.hero{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 790px;
    padding-top: 60px;
    padding-bottom: 200px;
    background: linear-gradient(20deg,#090f22,#5ad3ff);
    overflow: hidden;
    height: 880px;
    padding: 68px;
}
.hero_text{
    position: relative;
    z-index: 3;
    min-width: 512px;
    pointer-events: none;
}
.here_title{
    margin-bottom: 40px;
    color: #fff;
    color: var(--skfb-white,#fff);
    font-size: 48px;
    line-height: 1.2;
    font-family: 'Poppins', sans-serif;
}
.hero_slogan{
    margin: 0 0 40px;
    color: #fff;
    color: var(--skfb-white,#fff);
    opacity: .7;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}
/*///////////////////////////////ViewA1///////////////////////////*/
.sectionA{
    padding: 70px 40px;
    text-align: center;
}
.sectionA .configA{
    margin: 20px auto 40px;    
    margin: 0 auto;
    max-width: 1130px;
    width: calc(100% - 60px);
}
.sectionA .configA h2{
    margin-bottom: 20px;
    color: #1caad9;
    color: var(--skfb-blue,#1caad9);
    font-size: 36px;
    margin: 10px 0;
    font-weight: 300;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.sectionA .sectionA .ButtonsA{
    background-color: rgb(57, 4, 4)!important;
}

.brands-trusted-holder{
    padding: 20px;
    overflow: hidden;
  }
/*/////////////////////////Cats View////////////////////////*/
.cats-view-home{
    margin-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
}
/*/////////////////////////SliderAndMore////////////////////////*/
.sliderM{
    position: relative;
}



.theViewIWantCarousel{
    overflow: hidden;   
    scroll-behavior: smooth;
    overflow-x:auto;
    scroll-snap-type: x mandatory;
    flex-wrap: nowrap;
    text-align: center;
    align-items: center;
}

.theViewIWantCarousel::-webkit-scrollbar{
    display: none;
}
 .next,
 .previous
{
    border: none;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 8;
    top: 30%;
    bottom: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: radial-gradient(#8a8181, transparent);
}
 .previous {
    left: -25px;
}
 .next {
    right: -25px;
}
