body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.myApp{
  padding: 8px;
  margin-top: 60px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
  text-decoration: none;
  color: inherit;
}
iframe{
  border: 0px;
}
.Thefknai{
height: 500px;
width: 500px;

}
.HomeModel{
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
  width: 100vw;
}
.none{
  display: none!important;
}
