* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box
}
.card{
  border-radius: 0%;
  width: 14rem;
}
.card .card{
    border-style: none;
}

.card .card-name{
  font-weight: bolder;
}
.card .card-img-overlay, .card .card-img-overlay .upper, .card .card-img-overlay .lower{
    display: flex;
    width: 100%;
}
.card .card-img-overlay{
    align-content: space-between;
    flex-wrap: wrap;
}
.card .card-img-overlay .upper, .card .card-img-overlay .lower{
    justify-content: space-between;
}
.card .card-img-overlay .upper a .fas.fa-heart{
    color: red;
}
.card .card-img-overlay .upper a .far.fa-heart{
    color: black;
}
.card .card-img-overlay .upper a .fa-heart {
    text-shadow: 0 0 3px #000;
    font-size: 1.4rem;
}
.card .card-img-overlay .upper p{
    background-color: #000;
    border-radius: 8px;
    color: #fff;
    font-size:0.7rem;
    padding: 2px 5px;
}
.card .card-img-overlay .upper p i{
    color: #FDD14B;
}
.card .card-img-overlay .lower .card-title{
    padding: 10px 22px;
}
.card .card-img-overlay .card-title{
    color: #fff;
    background-color: #000;
    padding: 5px;
    display: inline-block;
    margin-bottom: 0px;
}
.card .inner-off{
    padding: 5px 10px;
    border-radius: 20px;
    background-color: #000;
    color: #fff;
    font-weight: bold;
}
.card .card-price.row{
    align-items: center;
    justify-content: space-between;
}
.card .card-original-price, .card-discount-price{
    padding: 5px 0px;
    font-size: 14px;
    font-weight: bolder;
}
.card .card-original-price{
    color: #6A707E;
    text-decoration: line-through;
    font-size: 13px;

}
.card .card-off{
    padding: 0px;
    font-size: 12px;
}
.card .card-price{
    margin-right:0px;
    margin-left: 0px;
}


/*//////////////////////features////////////////////*/
.features-holder{    
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px;
    background-color: #fff;
    background-color: var(--skfb-white,#fff);
    border-radius: 3px;
    box-shadow: 0 11px 20px 0 rgb(97 108 121 / 17%);
    transform: translateY(-120px);
    margin-bottom: -50px;
    z-index: 2;    margin: 0 auto;
    max-width: 1130px;
    width: calc(100% - 60px);
}
.features-holder .features-details{
    text-align: center;
    align-items: center;
}
.features-holder .features-details h3{
    margin: 10px 0px ;
}
/****************mga card**/
.mga-card{
    box-shadow: 0 1px 1px rgb(97 108 121 / 10%), 0 7px 18px 0 rgb(97 108 121 / 13%);
    padding: 0px!important;
    height: 300px;
    max-height: 300px;
}
.mga-card .mga-card-img{
    width: 100%;
    height: 80%;
}
.mga-card-details{
    height: 20%;
    padding: 8px;
}
.mga-card-details h5{
    text-transform: capitalize;
    font-size: 16px;
    margin-bottom: 5px;
}
.mga-card-details p{
    color: gray;
    font-size: 15px;
}
.mga-card-details-cart{
   color: #07b0b0;;
    font-size: 22px!important;
    transition: .3s;
}

.mga-card-details-cart:hover{
    transition: .5s;
    transform: translateY(-2px);
    font-size: 23px!important;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
   
 }
 
.mga-card-details-love{
    color: #e43d0ae2;;
     font-size: 22px!important;
     transition: .3s;
    }
 
.mga-card-details-love:hover{
    transition: .5s;
    transform: translateY(-2px);
    font-size: 23px!important;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
   
 }