:root {
    --main-bg-color: #07b0b0;
    --main-lt-color: #92d5d5;
  }
  
.productViewSection{
    padding-top: 60px;
    margin: 10px;
}
.productViewSection button span{
    margin: 0px; 
}
.productViewSection button .pi-face-item{
    color: #1877f2;
    
}
.productViewSection button .pi-insta-item{
    color: #c32aa3;
}
.productViewSection button .pi-twtr-item{
    color: #1da1f2;
}
.productViewSection button .pi-whats-item{
    color: #25d366;
}
.productViewSection .pb-face-item{
    border-radius: 50%!important;
    border-color: #1877f2!important;
    height: 50px;
    width: 50px;
    min-width: 0px!important;
    
}
.productViewSection .pb-insta-item{
    border-radius: 50%!important;
    border-color: #c32aa3!important;
    height: 50px;
    width: 50px;
    min-width: 0px!important;
}
.productViewSection .pb-twtr-item{
    border-radius: 50%!important;
    border-color: #1da1f2 !important;
    height: 50px;
    width: 50px;
    min-width: 0px!important;
}
.productViewSection .pb-whats-item{
    border-radius: 50%!important;
    border-color: #25d366!important;
    height: 50px;
    width: 50px;
    min-width: 0px!important;
}
.productViewSection h2{
    font-size: 110px;
    margin-left: 25px;
}
.productViewSection .btnlnk-product{
    color: inherit;
    text-decoration: underline;
}

.productViewSection .main-product-view{
   text-align: center;
   align-items: center;
   margin: auto;
    width: 700px;
    height: 700px;
}

.productViewSection .outer-mnp{
    
    position: relative;
    padding: 1px;
    top: 250px;
    width: 700px;
    height: 350px; /* as the half of the width */
    border-bottom-left-radius: 352px;  /* 100px of height + 10px of border */
    border-bottom-right-radius: 352px; /* 100px of height + 10px of border */
    border: 3px solid var(--main-lt-color);
    border-top: 0;
    /* border-right-color: var(--main-bg-color);
    border-left-color: var(--main-bg-color);
    border-bottom-color:var(--main-bg-color); */
}

.main-product-view .inner-mnp{
    position: absolute;
    left: 90px;
    top: -270px;
    width: 520px;
    height: 520px;
    border-radius: 50%;
    border: 3px solid var(--main-lt-color);
  
}
div.circle {
    cursor: pointer;
    position: absolute;
    width: 80px;
    height: 80px;
    border: 2px solid black;
    border-radius: 50%;
  }
  .productViewSection .product-mn-img{
      position: relative;
      top: 15px;
      border-radius: 50%;
  }
  .cnt{
      padding: 10px;
  }
  .inner-mnp .main-product-view-cont svg{
      color: #fff;
      position: relative;
      top: 5px;
      
  }
  .inner-mnp .main-product-view-cont{
      width: 33px;
      height: 33px;
      cursor: pointer;
      position: absolute;
      top: 0px;
      left: 250px;
      background-color: var(--main-bg-color);
      border-radius: 25px;
  }
  .inner-mnp .main-product-view-fav{
      left: 70px;
      top:45px;
  }
  .inner-mnp .main-product-view-cat{
    left: 410px;
    top:45px;
}

.inner-mnp .image-carousel-left{
    position:absolute;
    top: 280px;
    left: -60px;
    color: var(--main-bg-color);
    font-size: 26px;
    transform: rotate(76deg);
}

.inner-mnp .image-carousel-right{
    position:absolute;
    top: 280px;
    left: 542px;
    color: var(--main-bg-color);
    font-size: 26px;
    transform: rotate(280deg);
}
/*////////////////////product details /////////////////////////*/
.specific-product{
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    /* border: 1px solid lightgray; */
    /* padding: 8px; */
}
.specific-product h4{
    padding: 10px;
    margin-bottom: 8px;
    border-bottom: 1px solid lightgray;
}
.specific-product ul{
    list-style: none;
    padding: 10px;
    font-size: 15px;
}
.product-rating-summery-header{
    width: 100%;
    padding-right: 25px;
}
.rating-value-product{
    text-align: center;
    align-items: center;  padding: 20px;
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 3%;
    max-width: 50%;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  
}
.columns-product-rating{

    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.rating-value-product p{
    color: #07b0b0;
    font-size: 38px;
}
.columns-product-rating ul{
list-style: none;

}
.columns-product-rating ul svg{
    color: #faaf00;   
    position: relative;
    top: 4px; 
    right: 2px;
    }
.columns-product-rating ul li .rate-product-progressBar{
    width: 180px;
    height: 6px;
    color: #faaf00;   
    position: sticky;
    }
.columns-product-rating .css-qhoknl-MuiLinearProgress-bar1 {
    background-color: #faaf00!important;
}
/*/////////////////ProductPageReviewItem///////////////////*/
.ProductPageReviewItem{
    border-radius: 500px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    padding: 15px 0px;
    padding-left: 35px;
}
.ProductPageReviewItem .css-n3lpn7-MuiGrid-root>.MuiGrid-ite{
    margin-top: 0px !important;
}
.ProductPageReview{
    padding: 0px 30px;
    padding-bottom: 20px;

}
.ProductPageReview h4{
margin-bottom: 30px;
padding-left: 35px;
}
/*///////////////////////////////////*/
.product-dsh .header-products{
    margin-bottom: 25px;
}
.product-dsh h3{
    text-transform: capitalize;
    font-size: 33px;
    margin-bottom: 5px;
}
.product-dsh h4{
    font-size:20px;
    opacity: .8;
    text-transform: capitalize;

}
.product-dsh .sale-price{
    font-size: 21px;
    margin-right: 20px;
}

.product-dsh .real-price{
    font-size: 16px;
    margin-right: 20px;
    text-decoration: line-through;
    opacity: .69;

}
.productViewSection .prices-holder{
    margin: 8px 0px;
}

.product-dsh .discount{
    padding: 8px;
    font-size: 14px;
    border: 2px solid;
    border-color: var(--main-bg-color);
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
   /* margin-left: 10px;*/
    float: right;
}
.productViewSection .colors-product{
    margin: 8px 0px
}
.productViewSection .colors-product .color-bg-holder{
    width: 35px;
    height: 35px;
    padding: 2px;
    border-radius: 50%;
    border: 1.5px solid var(--main-bg-color);
    cursor: pointer;
}
.productViewSection .colors-product .color-sm{
    width: 100%;
    border-radius: 50%;
    height: 100%;
    background-color: #07b0b0;
}
.productViewSection .sizes-product .size-bg-holder{
    border: 1px solid;
    border-color: var(--main-bg-color);
    padding: 3px;
    width: 3rem;
    height: 3rem;
    margin: 0 1rem 0 0;
    border-radius: 60% 40% 30% 70% / 30% 40% 60% 70%   ;
    transform: rotate(-45deg);
    cursor: pointer;
}
.productViewSection .sizes-product .size-sm{
    width: 100%;
    height: 100%;
    margin: 0 1rem 0 0;
    border-radius: 60% 40% 30% 70% / 30% 40% 60% 70%   ;
    cursor: pointer;
    position: relative;
    background-color: var(--main-lt-color);
}
.product-btns{
    margin: 8px 0px;
}
.product-btns .product-dsh-ptn{
    width: 47%;
    border: 1px solid var(--main-bg-color);
    background-color: transparent;
    padding: 10px 8px;
    font-size: 1.3rem;
    border-bottom-left-radius: 32px;
    border-top-right-radius: 32px;
    cursor: pointer;
    transition: .5s;
}

.product-btns .fitIt{
    color: #fff;
    background-color: var(--main-bg-color);
} 
.product-btns .fitIt:hover{
    background-color: #fff;
    color: var(--main-bg-color);
} 

.product-btns .addToCart{
    color: var(--main-bg-color);
} 
.product-btns .addToCart:hover{
    background-color: var(--main-bg-color);
    color: #fff;
} 
/*end-slide-card*/
/*////////////////////////////////////////////// foreignObject ////////////////////*/
foreignObject div{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rebeccapurple;
}
